@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}

.navbar{
    display: flex;
    background-color: rgb(194, 139, 245);
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    height: 115px;
    padding: 0px 100px;
    color: rgb(0, 0, 0);
    gap: 10px;
    flex-direction: row;
    
}


.navega>a{
    display: flex;
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3 ease;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
}


.navega:hover{
    color: black;
    font-size: 50px;
}
.logo{
    height: 100px;
    width: 250px;
}   