* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho {
    display: flex;
    background-color: rgb(37, 7, 66);
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    height: 115px;
    padding: 0px 100px;
    color: aliceblue;
    gap: 10px;
}

a {
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3 ease;
    flex-direction: row;
}

li {
    list-style: none;
}

.logo {
    height: 100px;
    width: 100px;
}

.imagemsEVAS {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 200px;
}

.imagemsEVAS img {
    display: block;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.eva01 img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.eva02 img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.eva03 img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.eva05 img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}