@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* --codigo da navbar e pagina 1-- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    display: flex;
    background-color: rgb(194, 139, 245);
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    height: 115px;
    padding: 0px 100px;
    color: rgb(246, 245, 245);
    gap: 10px;
    flex-direction: row;
}

.navega>a {
    display: flex;
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3 ease;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
}

.logo {
    height: 100px;
    width: 250px;
}

body {
    background-image: url(imagems/iamgemdeFundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.items {
    color: rgb(242, 243, 247);
}

#conteudo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* ---------- */

/* --codigos da pagina 2 -- */
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}

/* -- codigos da pagina 3 -- */
.conteudo3{
background-color: rgb(0, 0, 0);
border: 10px solid rgb(255, 255, 255);
/* ajustar a altura e largura das caixas além de dar um melhor alinhamento delas na página */
}

/* ----------------- */

/* -- codigos da pagina 4 -- */

.imagemsEVAS {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 340px;
}

.eva01 img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.eva02 img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.eva00 img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.eva00Blue img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
 }

#conteudo4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border: 5px solid rgb(255, 255, 255);
    width: 1500px;
    height: 340px; 
    font-size: 17px;
    padding: 20px;
    margin-left:170px;
}
/* ------------- */

/* -- codigos da pagina 5 -- */
#PrimeiroInpact {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 10px solid rgb(255, 255, 255);
    width: 800px;
    padding: 50px;
    margin: 20px;
}

#SegundoInpact {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 350px;                      /*<---id referente a parte escrita do segundo inpacto */
    background-color: rgb(0, 0, 0);
    width: 800px;
    border: 10px solid rgb(255, 255, 255);
    padding: 50px;
    margin: 20px;
}

#S_impactoimg{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: 10px solid rgb(255, 255, 255);
    height: 460px;
    width: 790px;
}

.conteudo5{
    display: flex;
    align-items: center;
    justify-content: center;
}